# LLM API Keys
OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key
XAI_API_KEY=your-api-key

# Optional LLM Base URLs (for compatible providers like OpenRouter)
OPENAI_BASE_URL=your-base-url #https://openrouter.ai/api/v1 for openrouter
OPENAI_HTTP_REFERER=http://localhost:3000
OPENAI_X_TITLE=example
ANTHROPIC_BASE_URL=your-base-url 

# Optional model overrides (comma-separated)
# DEFAULT_MODEL_ID=openai/gpt-4o-mini
# OPENAI_MODELS=openai/gpt-4o-mini,anthropic/claude-3.5-sonnet
# OPENROUTER_MODELS=openai/gpt-4o-mini,anthropic/claude-3.5-sonnet

# Ollama (Local LLM)
OLLAMA_BASE_URL=http://127.0.0.1:11434 #change if needed

# LangSmith 
LANGSMITH_API_KEY=your-api-key  #replace with your LangSmith API key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=agent-name. #match the name in LangSmith
LANGSMITH_TRACING=true

# Web Search API Key
TAVILY_API_KEY=your-api-key  #replace with your Tavily API key

# Stock Market Data Source
ALPHAVANTAGE_API_KEY=your-api-key. #replace with your AlphaVantage API key
FINANCIAL_DATA_SOURCE=name-of-source. #e.g., alphavantage
FINANCIAL_DATASETS_API_KEY=your-api-key